@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Instrument+Serif:ital@0;1&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Manrope:wght@200..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root, body{
    overflow-x: hidden;
}

.instrument-serif {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

#subtitle{
font-family: "Instrument Serif", serif !important;
  font-weight: 400;
  font-style: italic;
}